node_modules

build
VisualGenome.tar

archives
cache
images
myenv
query_gpt.py
query_type_2
# region_descriptions_chunks
# relationships_chunks
# scene_graph_chunks
synsets_chunks
VG_100K
VG_100K_2
attributes.json
dl.list
image_data.json
objects.json
qa_to_region_mapping.json
question_answers.json
region_descriptions.json
region_graphs.json
relationships.json
scene_graphs.json
synsets.json

paligemma_model